html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: url(image/ans-434944495.png) no-repeat  center center fixed #b32727;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

body>.d {
    height: auto;
}

.db {
    height: 100%;
    min-height: 100%;

}
.timer {
    height: 100%;
    min-height: 100%;
    background: rgb(99, 217, 140);
}
